# **Write a Pandas program to implement following operation**

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

* **to convert a NumPy array to a Pandas series**

In [2]:
arr = np.arange(1,10)
print("Numpy array is :", arr) 

series = pd.Series(arr)
print("\nPandas Series : \n",series)

Numpy array is : [1 2 3 4 5 6 7 8 9]

Pandas Series :
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

* **to convert the first column of a DataFrame as a Series**

In [3]:
dic = {
    "name" : ['abc', 'pqr', 'xyz'],
    "marks" : [99, 93, 90],
    "city" : ['rajkot', 'porbandar', 'junagadh']
}
df = pd.DataFrame(dic)
df

  name  marks       city
0  abc     99     rajkot
1  pqr     93  porbandar
2  xyz     90   junagadh

In [4]:
s = pd.Series(df['name'])
print("\n1st column as a Series : \n",s)

1st column as a Series :
 0    abc
1    pqr
2    xyz
Name: name, dtype: object

* **to create the mean and standard deviation of the data of a given Series**

In [6]:
print("Original Data Series : \n", series)
print("\nMean of the Data Series :", series.mean())
print("\nStandard deviation of the Data Series :", series.std())

Original Data Series :
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

Mean of the Data Series : 5.0

Standard deviation of the Data Series : 2.7386127875258306

* **to sort a given Series**

In [8]:
print("Series before sorting : \n", series)
print("\nSeries after sorting : \n",series.sort_values())

Series before sorting :
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

Series after sorting :
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64